<div class="dataArea">
    <div class="inline-row">
      <h2>
        Welcome To My Weather App Project
      </h2>
    </div>

    <div class="inline-row">
      <p>This is a NodeJs, Express, EJS, API Weather App project I created to help myself learn! ⚡️</p>
      
    </div>
    <div class="inline-row">
      <p> Thanks for stopping by. You can access my profile/portfolio via my name below.</p>
      
    </div>
  </div>
  


  </div>