<div class="searchArea">
  <a class="home" href="/"><h1>Weather App</h1></a>
  <form class="searchInput" action="/" method="post">
    <div class="inline-row searchRequest">
      <input
        class="searchBar"
        type="text"
        name="location"
        placeholder="City Here"
        required="true"
      />
      <button class="searchButton" type="submit" name="submit">Go</button>
    </div>

    <input
      type="radio"
      id="cel"
      name="units"
      value="metric"
      checked="checked"
    />
    <label for="cel">Celsius</label>
    <input type="radio" id="far" name="units" value="imperial" />
    <label for="far">Fahrenheit</label>
  </form>
</div>
