:root{
  --primary: rgba(199,0,37,1);
}


body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: "Nunito", sans-serif;
  background-color: rgba(141, 138, 138, 0.5);
  text-align: center;


}




.container {
  display: grid;
  align-content: center;
  background-image: linear-gradient(to bottom, #c70025, #c70025, #d84b74, #d281af, #cab0cf, #d7d7d7);
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 'search' 'return' 'bottom' ;
  min-height: 100vh;
  
}

.searchArea {
  background-color: var(--primary);
  z-index: 1;
  position: sticky;
  top: 0;
  color:white;
  grid-area: search;
}


.searchBar {
  padding: 8px 15px;
  background: rgba(235, 230, 230, 0.7);
  border: 1px solid white;
  border-right: none;
}
.searchButton {
  background: rgba(235, 230, 230, 0.2);
  border: 1px solid white;
  cursor: pointer;
  height: 2rem;
  color: white;
}
.return{
  margin: 0 0.4rem;
  grid-area: return;
}

.dataArea {
  margin: 0.4rem auto;
  max-width: 40ch;
  background-color: rgba(235, 230, 230, 0.95);
  border-radius: 20px;
  padding: 1rem;

}

.inline-row {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px gray solid;
}


.searchRequest {
  justify-content: center;
  margin-bottom: 1rem;
  border-bottom: none;

}

.searchInput{
  margin-bottom: 1rem;

}

.bottom{
  background-color: var(--primary);
  /* position: fixed;
  bottom: 0; */
  width: 100%;
  color:white;
  margin: 0;
  grid-area: bottom;
}

h2 {
  margin-bottom: 0;
}

a{
  text-decoration: underline;
  color: white;
  transition: opacity 0.2s ease-in;
  
  
}
a:hover {
  opacity: 0.75;
}

.home{
  text-decoration: none;
}

ul{
  list-style: none;
}
