body{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.container{
    display: grid;
    align-content: center;
    text-align: center;
    grid-template-rows: auto 1fr 0.2fr;
}

.searchArea{
background-color: gray;
padding: 2rem;

}

.searchInput{
    padding: 1rem;
}


.dataArea{
    display: grid;
    grid-template-columns: minmax(20ch, 40ch);
    justify-content: space-around;
    grid-gap: 2rem;
    /* width:70%; */
    margin: auto 6rem;


}

.inline-row{
    position: relative;
    display: flex;
    width: minmax;

}
.left{
    text-align: left;
    
}

.right{
    text-align: right;
    position: absolute;
    right:0;
}



footer{
    background-color: gray;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

